<nav>
    <button type="button" class="btn btn-primary btn-sm" routerLink="dashboard1">Dashboard</button>
    <button type="button" class="btn btn-primary btn-sm ml-2" routerLink="institute1">Institutes</button>
    <button type="button" class="btn btn-primary btn-sm ml-2" routerLink="courses1">Courses</button>
    <button type="button" class="btn btn-primary btn-sm ml-2" routerLink="/dashboard1/add3">Enrollment</button>
    <button type="button" class="btn btn-danger btn-sm ml-1" style="float: right;" (click)="logOut()" ><i class="fa fa-sign-out" aria-hidden="true"></i> LogOut</button>
    <hr>
</nav>
